
body{font-size:18px;}
a{transition:color ease .3s;}
article h2{display:inline-block;margin:30px 0 20px 0;padding:8px 15px;border:1px solid #34302d;background-color:#fff;border-radius:50px;font-size:25px;}
article h2 + p,
article h2 + h3,
article pre + p{margin-top:0;}
article p + h2{margin-top:10px}
article ul li{word-wrap:break-word;word-break:keep-all;}
p a, li a{text-decoration:none;}
 
.post-main-content a{
	display:inline-block;
	text-decoration:none;
	background-repeat:repeat-x;
    background-image:linear-gradient(to bottom, rgba(8,147,120,0.8) 50%, rgba(8,147,120,0) 50%);
	/* background-image:linear-gradient(to bottom, rgba(255,176,0,0.8) 50%, rgba(255,176,0,0) 50%); */
	/* background-image: linear-gradient(to bottom, rgba(109,179,63,0.8) 50%, rgba(109,179,63,0) 50%);	 */
	background-size:2px 0.3em;
    background-position:0 1.35em;
	/* background-position:0 1.12em; */
	/* color:#ffb000; */
    color:#089378;
}

h3{margin-top:15px;font-size:18px;}
h5{font-size:18px;}
p{margin:20px 0;}

.intro-header .post-heading .meta{margin-top:15px;font-size:18px;}

@media only screen and (min-width:1200px){

	.container.main,
	.intro-header.post .container,
	article .container{width:970px;}

	#site_search{width:84%;}
	.container.main .index-category{margin-left:8%;padding-right:0;width:14%;}
	.container.main .index-page{margin-left:0;padding-left:50px;width:70%;}
	
	.intro-header.post .container,
	article .container{background-color:#fff;border:1px solid #34302d;}

	.intro-header.post{padding-top:51px;}
	.intro-header.post .container{border-bottom:0;}
	article .container{margin-bottom:50px;padding-bottom:30px;border-top:0;}
	.intro-header .post-heading h1{margin-top:30px;font-size:45px;}

	.post-main-content{margin-left:8%;padding:0;width:84%;}
	.container.main{margin-bottom:50px;padding:50px 0 30px 0;background-color:#fff;border:1px solid #34302d;}

	.post-heading-wrap,
	.post-comment{margin-left:8%;width:84%;}	
	.post-tags, .post-categories{width:42%;}
	.post-tags{margin-left:8%;}

}

.box{padding:10px 15px;background-color:#f5f5f5;border:1px solid #ccc;border-radius:50px;}
.highlight{color:#6db33f;font-weight:600;}
    
#page-nav{margin-top:30px;width:100%;text-align:center;}
#page-nav .next, #page-nav .page-number, #page-nav .prev{margin-right:5px;margin-left:5px;font-size:90%;}
#page-nav .current{color:#6db33f;font-weight:600;vertical-align:top;}
#page-nav a:hover,
#page-nav a:active,
#page-nav a:focus{text-decoration:none;}

.tag-box{margin:0 -1%;}
.tag-box li{float:left;width:100%;}
@media only screen and (min-width:1200px){
	.tag-box li{margin:0 0.5%;width:48%;}
}
.tag-box:after{display:block;content:"";clear:both;visibility:hidden;}
.tag-box a{display:inline-block;margin:2px;padding:5px 10px;border:1px dotted #bbb;border-radius:5px;width:100%;font-size:18px;font-weight:600;text-align:center;text-decoration:none;}
.tag-box a:hover,
.tag-box a:active,
.tag-box a:focus{background-color:#089378;color:#fff;transition:background-color ease .3s;}
.tag-box a sup:before{content:"(";}
.tag-box a sup:after{content:")";}

/* 
.post-preview sup:before{content:"(";}
.post-preview sup:after{content:")";}
*/

#progress {
    overflow: hidden;
    left: 0;
    top: 80px;
    position: fixed;
    height: 8px;
    width: 100%;
    background: rgba(0,0,0,.2);
    z-index: 900;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
 }

 #bar {
    background-color: #888;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
 }

#progress .container {
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 0;
}

#scroll-title {
    color: #fff;
    position: absolute;
    top: 0;
    padding: 5px 0;
}

::-moz-selection{background-color:#3390FF;}
::selection{background-color:#3390FF;}