
@font-face {
    font-family: 'JejuGothic';
    src: url('../font/JejuGothic.eot');
    src: url('../font/JejuGothic.eot?#iefix') format('embedded-opentype'),
        url('../font/JejuGothic.woff2') format('woff2'),
        url('../font/JejuGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
